{% extends 'core/base.html' %}
{% load static %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="blog_info_left_grid">
        </div>
        <h3>
            <a href="single.html">{{ post.title|title }} </a>
        </h3>
        <p>{{ post.content|safe }}</p>

        <ul class="blog-icons">
            <li>
                <a href="#">
                    <i class="far fa-clock"></i> {{post.date}}</a>
            </li>
            {% with comments.count as total_comments %}
            <a href="#">
                <i class="far fa-comment"></i> {{ total_comments }} comment{{ total_comments|pluralize }}</a>
            {% endwith %}
            </li>
            <li>
            </li>
            {% for comment in comments %}
            {{ comment.message|linebreaks }}
            {% empty %}
            <p>There are no comments for this post.</p>
            {% endfor %}
            <h2>Leave a new comment</h2>

            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Enter Name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Enter Email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <textarea name="message" class="form-control" placeholder="Type your comment here..." id=""
                                cols="30" rows="10" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>


                    </form>

                </div>
            </div>

        </ul>



    </div>
</div>
<script>
    $('#myForm').trigger("reset");
</script>
{% endblock %}